.form {
	display: grid;
  width: 40%;
  margin: 0 auto;
  padding: 2rem 3rem;
  min-width: 250px;
	max-width: 800px;
	border: 0.5px solid grey;
  background-color: white;
	font-size: small;
	color:#353232;
}

label {
  display: block;
  width: 100%;
  text-align: left;
	font-weight: bolder;
}

.page {
  display: flex;
  min-height: 120vh;
  margin-top: -5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gainsboro;
}

.registerInput {
  width: 90%;
  margin: 10px 0;
  padding: 10px 10px 10px 45px;
	border-bottom: 1px solid gray;
  background-color: white;
}

.register-button {
  width: 8rem;
  height: 3rem;
	justify-self: center;
  border-radius: 45px;
  border: none;
  color: white;
  background-color: #ffa700;
  font-size: small;
  transition: 0.3s ease;
  cursor: pointer;
  font-size: small;
}

.registerTitle {
  color: #f75a0b;
  font-size: xx-large;
}

button:hover {
  background-color: #b84207;
}

@media (max-width: 768px) { 
  .registerInput {
    width: 95%;
    padding: 8px; 
  }

  .register-button {
    width: auto;
    padding: 10px 20px; 
  }

	#registerTitle {
		font-size: 1rem;
	}
} 

.error {
	color:#f75a0b;
}

.message { 
	justify-self: center;
	color:#f75a0b;
}